*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  min-width: 1600px;
  margin: 0px;
}
:root {
  --main-color: #212121;
  --sec-color: #757575;
  --hover-color: #2196F3;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.button {
  display: block;
  border: 0;
  cursor: pointer;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hidden-title {
  display: none;
}
/* Логотип */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}
.header__logo {
  margin-right: 93px;
}
/* Стили Шапки */
.header {
  display: flex;
  height: 80px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header__container {
  display: flex;
  align-items: center;
}

/* Шапка Логотип */
.header__logo-studio {
  color: #000000;
}
/* Шапка Навигация */
.site-navigation__list {
  display: flex;
  padding-left: 0px;
  margin: 0px;
}
.site-navigation__item {
  margin-right: 50px;
}
.site-navigation__item:last-child {
  margin-right: 0px;
}
.site-navigation__link {
  display: block;
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color var(--anim-fast);
}
.site-navigation__link::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  display: block;
  height: 4px;
  width: 0;
  background-color: var(--hover-color);
  transition: width var(--anim-fast);
  border-radius: 2px;
}
.site-navigation__link:hover::after {
  width: 100%;
  left: 0;
}
.site-navigation__link:hover,
.site-navigation__link:focus {
  color: var(--hover-color);
}
.site-navigation__main {
  color: var(--hover-color);
}
.site-navigation__main::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}
/* Шапка Контакты */
.head-contacts {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-left: auto;
}
.head-contacts__item:not(:last-child) {
  margin-right: 50px;
}
.head-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--sec-color);
  transition: color var(--anim-fast);
}
.head-contacts .icon {
  fill: currentColor;
  margin-right: 10px;
}
.head-contacts__link:hover,
.head-contacts__link:focus {
  color: var(--hover-color);
}
/* Стили главной страницы */
/* Заказать услугу */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img/heroweb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
}
.hero-button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Почему мы */
.whyme-list {
  display: flex;
  justify-content: center;
}
.whyme-item {
  width: 270px;
}
.whyme-item:not(:last-child) {
  margin-right: 30px;
}
.whyme-icon-box {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.whyme-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.whyme-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
/* Чем занимаемся */
.whatdo {
  padding-top: 0px;
}
.whatdo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.whatdo-list {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.whatdo-item {
  position: relative;
}
.whatdo-item:not(:last-child) {
  margin-right: 30px;
}
.whatdo-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/* Наша команда */
.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-list {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
.team-item {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-list {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #afb1b8;
  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.social-link:hover,
.social-link:focus {
  color: #ffffff;
  background-color: var(--hover-color);
}
.social-list .icon {
  fill: currentColor;
}
/* Стили "наши клиенты" */
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  align-items: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--anim-fast), border var(--anim-fast);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
}
.clients-list .icon {
  fill: currentColor;
}
/* Стили Портфолио */

/* Портфолио фильтр */
.portf-filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.portf-filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: color var(--anim-fast), background-color var(--anim-fast),
    box-shadow var(--anim-fast);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--hover-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Портфолио проекты */
.portf-project-list {
  display: flex;
  flex-wrap: wrap;
}
.portf-project-item {
  width: 370px;
}
.portf-project-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portf-project-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portf-thumb {
  position: relative;
  overflow: hidden;
}
.portf-text-box {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 20px 24px;
}
.portf-project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}
.portf-project-class {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
.portf-project-link {
  display: block;
  transition: box-shadow var(--anim-fast);
}
.portf-view-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--anim-fast);
}
.portf-project-link:focus .portf-text-box,
.portf-project-link:hover .portf-text-box {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portf-project-link:hover .portf-view-text {
  transform: translateY(0);
}
/* Стили Подвала */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
/* Подвал логотип цвет */
.logo-foot-studio {
  color: #ffffff;
}
/* Подвал адрес и контакты */
.adress-box {
  margin-top: 20px;
}
.adress-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-map {
  color: #ffffff;
}
.address-cont {
  color: rgba(255, 255, 255, 0.6);
}
/* Подвал социалка */
.footer-contacts {
  flex-grow: 1;
}
.foot-soc-box {
  margin-left: 70px;
}
.foot-soc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.social-foot-list {
  display: flex;
  align-items: center;
}
.social-foot-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.social-foot-link:hover,
.social-foot-link:focus {
  color: #ffffff;
  background-color: var(--hover-color);
}
.social-foot-list .icon {
  fill: currentColor;
}
.footer-sub-box {
  margin-left: 93px;
}
.footer-sub-title {
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #ffffff;
margin-bottom: 20px;
}
.footer-subscribe {
display: flex;
align-items: center;
}
.footer-label {
  margin-right: 12px;
}
.footer-input {
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
padding: 15px 16px;
outline: none;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--hover-color);
  color: #ffffff;
  font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.subscribe-btn .icon { 
  margin-left: 10px;
  fill: currentColor;
  stroke: currentColor;
}
/* Модальное окно */
.modal-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--anim-fast), visibility var(--anim-fast);
}
.modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  transition: color var(--anim-fast);
}
.modal-btn .icon {
  fill: currentColor;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--hover-color);
}
.modal-title {
  width: 100%;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
margin-bottom: 12px;
}
.modal-label {
display: flex;
flex-direction: column;
margin-bottom: 10px;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--sec-color);
}
.modal-coment {
  margin-bottom: 0px;
}
.modal-input-box {
  display: block;
  position: relative;
  margin-top: 4px;
  color: var(--main-color);
  transition: color var(--anim-fast);
}
.modal-input {
width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
padding-left: 42px;
border-radius: 4px;
transition: border var(--anim-fast);
outline: none;
}
.modal-input-box .icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: currentColor;
}
.modal-signup textarea {
resize: none;
margin-top: 4px;
padding: 12px 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
transition: border-color var(--anim-fast);
outline: none;
}
.modal-agreement {
flex-direction: row;
align-items: center;
margin-top: 20px;
margin-bottom: 30px;
justify-content: center;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
user-select: none;
}
.modal-agree-text {
display: flex;
align-items: center;
}
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 8.38px;
  transition: border-color var(--anim-fast), background-color var(--anim-fast), background-image var(--anim-fast);
}
.modal-agreement>.checkbox:not(:disabled):not(:checked)+.modal-agree-text:hover>.custom-checkbox {
  border-color: var(--hover-color);
}
.modal-agreement>.checkbox:not(:disabled):active+.modal-agree-text>.custom-checkbox {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}
.modal-agreement>.checkbox:focus+.modal-agree-text>.custom-checkbox {
  border-color: var(--hover-color);
}
.modal-agreement>.checkbox:focus:not(:checked)+.modal-agree-text>.custom-checkbox {
  border-color: var(--hover-color);
}
.modal-agreement>.checkbox:checked+.modal-agree-text>.custom-checkbox {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
}
.modal-agree-link {
  color: var(--hover-color);
text-decoration: underline ;
}
.modal-signup-btn {
display: flex;
align-items: center;
justify-content: center;
background: var(--hover-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
width: 200px;
height: 50px;
margin-left: auto;
margin-right: auto;
color: #ffffff;
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
transition: background-color var(--anim-fast);
}
.modal-signup-btn:hover,
.modal-signup-btn:focus {
  background-color: #188CE8;
}
.modal-input-box:focus-within{
  color: var(--hover-color);
}
.modal-input:focus {
border-color: var(--hover-color);
}
.modal-signup textarea:focus{
  border-color: var(--hover-color);
}